*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/
standalone/act_standalone/
standalone/dp_standalone/

*.mp4
libero.egg-info/
.vscode/
.env
tmp/
demonstration_data/
standalone/standalone_runs/
standalone/act_standalone/
standalone/dp_standalone/
demonstration_data/